body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(
        to left,
        darkblue 0%,
        turquoise 100%
    );
    text-align: center;
  }

  .home-title{
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 76px;
    color: aquamarine;
    font-family: "Bigelow Rules";
  }

  .home{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  