.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url('https://i.imgur.com/bN7W42W.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
}

.enter-button {
  position: absolute;
  top: 55%; /* Adjust this value to match the vertical position of the image button */
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px; /* Adjust this value to match the width of the image button */
  height: 50px; /* Adjust this value to match the height of the image button */
  background-color: transparent;
  border: none;
  cursor: pointer;
}
