body.create-page {
    font-family: 'Arial', sans-serif;
    background: url('https://i.imgur.com/ZFZWlVU.png') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.create-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    max-width: 900px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.navigation-button {
    background-color: grey;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.navigation-button:hover {
    background-color: #45a049;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-field {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.form-field:last-child {
    margin-right: 0;
}

.form-field label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-field input,
.form-field select,
.form-field textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-field span {
    color: red;
    font-size: 12px;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 80px;
    height: 80px;
    margin: 20px auto;
}

.error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
